@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Barlow";
    src: url("./assets/fonts/barlow/Barlow-Black.ttf") format("truetype");
    font-weight: 900;
    font-style: normal;
  }

  @font-face {
    font-family: "Barlow";
    src: url("./assets/fonts/barlow/Barlow-BlackItalic.ttf") format("truetype");
    font-weight: 900;
    font-style: italic;
  }

  @font-face {
    font-family: "Barlow";
    src: url("./assets/fonts/barlow/Barlow-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
  }

  @font-face {
    font-family: "Barlow";
    src: url("./assets/fonts/barlow/Barlow-BoldItalic.ttf") format("truetype");
    font-weight: 700;
    font-style: italic;
  }

  @font-face {
    font-family: "Barlow";
    src: url("./assets/fonts/barlow/Barlow-ExtraBold.ttf") format("truetype");
    font-weight: 800;
    font-style: normal;
  }

  @font-face {
    font-family: "Barlow";
    src: url("./assets/fonts/barlow/Barlow-ExtraBoldItalic.ttf")
      format("truetype");
    font-weight: 800;
    font-style: italic;
  }

  @font-face {
    font-family: "Barlow";
    src: url("./assets/fonts/barlow/Barlow-ExtraLight.ttf") format("truetype");
    font-weight: 200;
    font-style: normal;
  }

  @font-face {
    font-family: "Barlow";
    src: url("./assets/fonts/barlow/Barlow-ExtraLightItalic.ttf")
      format("truetype");
    font-weight: 200;
    font-style: italic;
  }

  @font-face {
    font-family: "Barlow";
    src: url("./assets/fonts/barlow/Barlow-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
  }

  @font-face {
    font-family: "Barlow";
    src: url("./assets/fonts/barlow/Barlow-LightItalic.ttf") format("truetype");
    font-weight: 300;
    font-style: italic;
  }

  @font-face {
    font-family: "Barlow";
    src: url("./assets/fonts/barlow/Barlow-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
  }

  @font-face {
    font-family: "Barlow";
    src: url("./assets/fonts/barlow/Barlow-MediumItalic.ttf") format("truetype");
    font-weight: 500;
    font-style: italic;
  }

  @font-face {
    font-family: "Barlow";
    src: url("./assets/fonts/barlow/Barlow-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
  }

  @font-face {
    font-family: "Barlow";
    src: url("./assets/fonts/barlow/Barlow-SemiBold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
  }

  @font-face {
    font-family: "Barlow";
    src: url("./assets/fonts/barlow/Barlow-SemiBoldItalic.ttf")
      format("truetype");
    font-weight: 600;
    font-style: italic;
  }

  @font-face {
    font-family: "Barlow";
    src: url("./assets/fonts/barlow/Barlow-Thin.ttf") format("truetype");
    font-weight: 100;
    font-style: normal;
  }

  @font-face {
    font-family: "Barlow";
    src: url("./assets/fonts/barlow/Barlow-ThinItalic.ttf") format("truetype");
    font-weight: 100;
    font-style: italic;
  }

  /* Fraunces Fonts */
  @font-face {
    font-family: "Fraunces";
    src: url("./assets/fonts/fraunces/Fraunces9pt-Black.woff2") format("woff2");
    font-weight: 900;
    font-style: normal;
  }

  @font-face {
    font-family: "Fraunces";
    src: url("./assets/fonts/fraunces/Fraunces9pt-BlackItalic.woff2")
      format("woff2");
    font-weight: 900;
    font-style: italic;
  }

  @font-face {
    font-family: "Fraunces";
    src: url("./assets/fonts/fraunces/Fraunces9pt-Bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
  }

  @font-face {
    font-family: "Fraunces";
    src: url("./assets/fonts/fraunces/Fraunces9pt-BoldItalic.woff2")
      format("woff2");
    font-weight: 700;
    font-style: italic;
  }

  @font-face {
    font-family: "Fraunces";
    src: url("./assets/fonts/fraunces/Fraunces9pt-Italic.woff2") format("woff2");
    font-weight: 400;
    font-style: italic;
  }

  @font-face {
    font-family: "Fraunces";
    src: url("./assets/fonts/fraunces/Fraunces9pt-Light.woff2") format("woff2");
    font-weight: 300;
    font-style: normal;
  }

  @font-face {
    font-family: "Fraunces";
    src: url("./assets/fonts/fraunces/Fraunces9pt-LightItalic.woff2")
      format("woff2");
    font-weight: 300;
    font-style: italic;
  }

  @font-face {
    font-family: "Fraunces";
    src: url("./assets/fonts/fraunces/Fraunces9pt-Regular.woff2")
      format("woff2");
    font-weight: 400;
    font-style: normal;
  }

  @font-face {
    font-family: "Fraunces";
    src: url("./assets/fonts/fraunces/Fraunces9pt-SemiBold.woff2")
      format("woff2");
    font-weight: 600;
    font-style: normal;
  }

  @font-face {
    font-family: "Fraunces";
    src: url("./assets/fonts/fraunces/Fraunces9pt-SemiBoldItalic.woff2")
      format("woff2");
    font-weight: 600;
    font-style: italic;
  }

  @font-face {
    font-family: "Fraunces";
    src: url("./assets/fonts/fraunces/Fraunces9pt-Thin.woff2") format("woff2");
    font-weight: 100;
    font-style: normal;
  }

  @font-face {
    font-family: "Fraunces";
    src: url("./assets/fonts/fraunces/Fraunces9pt-ThinItalic.woff2")
      format("woff2");
    font-weight: 100;
    font-style: italic;
  }

  /* Soft variations */
  @font-face {
    font-family: "Fraunces Soft";
    src: url("./assets/fonts/fraunces/Fraunces9ptSoft-Black.woff2")
      format("woff2");
    font-weight: 900;
    font-style: normal;
  }

  @font-face {
    font-family: "Fraunces Soft";
    src: url("./assets/fonts/fraunces/Fraunces9ptSoft-BlackItalic.woff2")
      format("woff2");
    font-weight: 900;
    font-style: italic;
  }

  @font-face {
    font-family: "Fraunces Soft";
    src: url("./assets/fonts/fraunces/Fraunces9ptSoft-Bold.woff2")
      format("woff2");
    font-weight: 700;
    font-style: normal;
  }

  @font-face {
    font-family: "Fraunces Soft";
    src: url("./assets/fonts/fraunces/Fraunces9ptSoft-BoldItalic.woff2")
      format("woff2");
    font-weight: 700;
    font-style: italic;
  }

  /* Add more fonts following this pattern */
}
